@media (max-width: 630px) {
    .tela1 {
        width: 340px;
        margin-top: 31px;
    }
    .tela1.criar-quiz {
        margin-bottom: 35px;
    }
    .quiz {
        margin-right: 0;
    }
    .tela3 {
        width: 375px;
        margin-top: 31px;
    }
}